@import url('https://fonts.googleapis.com/css?family=Amaranth|Audiowide|Caveat+Brush&display=swap');
/*
font-family: 'Amaranth', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Caveat Brush', cursive;
*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div {
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #03080a;
}

::-webkit-scrollbar-thumb {
  background: #0b1b24;
}